<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>The admin page | Inmra</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="general/main.css" >
        <link rel="stylesheet" href="admin/admin_page.css" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="filename" content="admin_page_template.html" >
    </head>
    <body>
        {{ navigation_header }}

        <div id="admin-container">
            <h1>Administration</h1>

            <h2>Registered Users</h2>
            <div id="users">{{users}}</div>

            <h2>Users with live sessions</h2>
            <div id="sessions">{{live_sessions}}</div>

            <h2>Inmates (newest first)</h2>
            <div id="inmates">{{inmates}}</div>

            <h2>Log settings</h2>
            <p>{{log_settings}}</p>

            <h2>Running version information</h2>
            <p>{{version_info}}</p>

            <h2>Number of photos</h2>
            <p>{{photo_count}}</p>

            <h2>Number of videos</h2>
            <p>{{video_count}}</p>

            <h2>Number of persons</h2>
            <p>{{person_count}}</p>

            <h2>Number of living</h2>
            <p>{{living_person_count}}</p>

            <h2>Number of deceased</h2>
            <p>{{deceased_person_count}}</p>

            <h2>Biography size total, in bytes</h2>
            <p>{{total_bio_bytes}}</p>
        </div>

    </body>
</html>