###########################################################################
###########################################################################
#
#    Memoria local dev configuration file
#
###########################################################################
###########################################################################


# template top-level directory

TEMPLATE_DIRECTORY=src/main/webapp/templates/

# a password for being allowed to view information of living people.  The password is meant
# to be an old-fashioned easy password.  This is allowed because the risk is low - gaining
# access just means they can view data, not edit - and the data is not particularly risky,
# it's more just a basic precaution to prevent low-effort scans of our information.  Further,
# we have system in place so that someone trying to brute force will find themselves
# blocked from the system for a time, severely slowing down their brute-force attempts.
PRIVACY_PASSWORD=dad

# This setting is the number of seconds for the max-age attribute of the cookie handed to users when they
# enter a correct password for the privacy login.
PRIVACY_COOKIE_MAX_AGE=259200

# Configure the prehandler code, found in TheRegister.java, to redirect users to the
# secure endpoint when they GET any path with the word "login" on the unsecured endpoint.
REGISTER_PREHANDLER=false