###########################################################################
###########################################################################
#
#    Memoria local dev configuration file
#
###########################################################################
###########################################################################


# template top-level directory

TEMPLATE_DIRECTORY=src/main/webapp/templates/

# Count of times we will check for whether a photo has been converted
COUNT_OF_PHOTO_CHECKS=10

# How long we'll wait each check (see COUNT_OF_PHOTO_CHECKS) for the photo to be converted
WAIT_TIME_PER_PHOTO_CHECK=1000