#admin-container {
    margin-top: 10px;
    margin-left: 10px;
}

div#admin-container {
    display: flex;
    flex-direction: column;
}

div#admin-container > div {
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  /* Override what is set in main.css */
  text-shadow: initial;
}
