<!DOCTYPE html>
<html>
    <head>
        <title>Reset user password | Inmra</title>
        <meta charset="utf-8"/>
        <meta name="filename" content="reset_user_password_template.html" />
        <link rel="stylesheet" href="general/main.css" />
        <link rel="stylesheet" href="auth/reset_user_password.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav>
            <a href="/" id="logo"><img width=40 height=32 src="general/tree_small.webp" alt="memoria homepage"></a>
            <a id="help" href="/general/adminhelp.html">ⓘ</a>
            {{header}}
        </nav>
        <div id="container">
            <form action="resetpassword" method="post">
                <h1>Reset password</h1>
                <p>
                    If you wish to reset your password to <span id="new_password">{{newpassword}}</span>, press the
                    Change Password button.
                </p>
                <input type="hidden" name="newpassword" value="{{newpassword}}">
                <p>
                    Otherwise, press the back button on your browser, or press the cancel button.
                </p>
                <button id="change_password">
                    Change Password
                </button>
                <a href="/index">
                    Cancel
                </a>
            </form>
        </div>
    </body>
</html>