<table>
    <thead>
    <tr>
        <th class="thumbnail_header">Thumbnail link <span class="publish-mention">dashed border indicates published in bio</span></th>
        <th class="copied_to_persons">Others with this media</th>
        <th class="short_description_header">Alt text / caption</th>
        <th class="copy_image_header"></th>
        <th class="copy_url_header"></th>
        <th class="copy_figure_header"></th>
        <th class="delete_header"></th>
        <th class="copy_to_other_person"></th>
    </tr>
    </thead>
    <tbody>
        {{photo_html}}
    </tbody>
</table>
