<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bad relation | Inmra</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/person/bad_relation.css" >
    <link rel="stylesheet" href="/general/main.css" >
    <meta name="filename" content="bad_relation.html" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{ navigation_header }}
<div id="outer">
    <div id="container">
        <h3>
            An impossible relationship was requested.
        </h3>
        <p>
            {{ description }}
        </p>
        <a href="/person?id={{id}}">Return to person</a>
    </div>

</div>
</body>
</html>