<li id="extra_data_item{{ count }}" class="extra_field_item">
    <button type="button" class="extra_data_item_edit" data-index="{{ index }}">edit</button>
    <button type="button" class="extra_data_item_delete" >delete</button>
    <input class="extra_data_key" readonly type="hidden" name="extra_data_key{{ count }}" value="{{ key }}">
    <span>{{key_html_cleaned}}</span>
    <input
            class="extra_data_type"
            readonly type="hidden"
            name="extra_data_type{{ count }}"
            value="{{ type }}" >
    <input class="extra_data_value" readonly type="hidden" name="extra_data_value{{ count }}" value="{{ value }}">
    <span>{{ value_html_cleaned }}</span>
</li>