<div id="{{id}}_details" class="person-container">

    <div class="name-and-lifespan">
        <span class="name">
            {{name}}
        </span>

        <span class="lifespan">
            {{lifespan}}
        </span>
    </div>

    <div class="other_components">
        <div>
            <a href="person?id={{id}}">view</a>
            <a href="editperson?id={{id}}">edit</a>
        </div>


        <div class="photos">
            <a href="photos?personid={{id}}">Photos({{photo_count}})</a>
        </div>

        <div class="modified_datestamp">
            <span>Modified: </span>
            <span class="last_modified">{{last_modified}}</span>
        </div>

    </div>
    {{ stats }}
    <div class="thumbnail">
        {{person_image}}
    </div>
</div>