<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title_name}} | Inmra</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/person/person_detail_page.css" >
        <link rel="stylesheet" href="/general/main.css" >
        <link rel="stylesheet" href="/person/show_preview.css" >
        <meta name="filename" content="person_detail_page.html" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/person/show_preview.js"></script>
        <script src="/person/header_person_search.js"></script>
    </head>
    <body>
        {{ navigation_header }}
        <div id="outer">
            <div id="persons">

                <div id="{{id}}_details">

                    {{person_image}}

                    <div class="name-and-era">
                        <div>
                            <h2 class="lifespan-name" style="display: inline;">
                                {{name}}
                            </h2>
                            {{ relation_to_other_person_link }}
                        </div>
                        <span class="lifespan-era">
                            {{lifespan}}
                        </span>
                    </div>

                    {{relationship}}

                    <ul style="clear: both;">
                        <li class="parents-item manual-links">
                            <span class="label immediate-family relative-type-label">Parents: </span>
                            <span class="parents">
                                {{parents}}
                            </span>
                        </li>


                        <li class="siblings-item manual-links">
                            <span class="label immediate-family relative-type-label">Siblings: </span>
                            <span class="siblings">
                                {{siblings}}
                            </span>
                        </li>


                        <li class="spouses-item manual-links">
                            <span class="label immediate-family relative-type-label">Spouses: </span>
                            <span class="spouses">
                                {{spouses}}
                            </span>
                        </li>


                        <li class="children-item manual-links">
                            <span class="label immediate-family relative-type-label">Children: </span>
                            <span class="children">
                                {{children}}
                            </span>
                        </li>

                        <div id="person-navigation-block">
                            {{ link_to_extended_relatives }}
                        </div>

                        <li>
                            <span class="label">Gender: </span>
                            <span class="gender">{{gender}}</span>
                        </li>

                        {{ extra_fields }}

                    </ul>

                    <div class="biography">
                    {{biography}}
                    </div>

                    <div class="auth_biography">
                        {{auth_biography}}
                    </div>

                </div>
                {{ extra_info_blurb }}
            </div>
            {{ stats }}

            <div id="search_result_container" style="display: none;">
                <ul id="search_result_list"></ul>
            </div>
            <div class="last-modified">This page was last modified on {{last_modified}} by {{last_modified_by}}</div>
        </div>
    <script>
        // This value is used by the script in show_preview.js to show a preview window
        // over the relatives listed on this page.
        const relatives_data = { {{relatives_javascript_array}} };
    </script>
    </body>
</html>