<ul class="stats">

    <li>has headshot: {{ hasHeadshot }}</li>
    <li>bio image count: {{ bioImageCount }}</li>
    <li>bio video count: {{ bioVideoCount }}</li>
    <li>photo count: {{ photoCount }}</li>
    <li>video count: {{ videoCount }}</li>
    <li>spouse count: {{ spouseCount }}</li>
    <li>sibling count: {{ siblingCount }}</li>
    <li>nephews/nieces count: {{ nephewsNiecesCount }}</li>
    <li>uncles/aunts count: {{ unclesAuntsCount }}</li>
    <li>first cousin count: {{ firstCousinCount }}</li>
    <li>cousins count: {{ cousinsCount }}</li>
    <li>ratio of 1st cousins to all cousins: {{ cousinsRatio }}</li>
    <li>child count: {{ childCount }}</li>
    <li>age in years: {{ ageYears }}</li>
    <li>bio char count: {{ bioCharCount }}</li>
    <li>summary char count: {{ summaryCharCount }}</li>
    <li>notes char count: {{ notesCharCount }}</li>
    <li>close relative count: {{ closeRelativeCount }}</li>
    <li>full tree size: {{ fullTreeSize }}</li>
    <li>ancestors count: {{ ancestorCount }}</li>
    <li>descendants count: {{ descendantCount }}</li>
    <li title="this score is a weighted combination of bio size, count of photos and videos, close relatives...">interesting* score: {{ interestingScore }}</li>
    <li>last modified: {{ lastModified }}</li>
</ul>