###########################################################################
###########################################################################
#
#    Minum production configuration file
#
###########################################################################
###########################################################################


### The port used for our plain, non-secure server

SERVER_PORT=8080


### the port for our secure, TLS 1.3 server

SSL_SERVER_PORT=8443


### the name of our host on the internet.  Used by our
### system when it needs to build a self-referencing URL.

HOST_NAME=localhost


# database top-level directory

DB_DIRECTORY=db/

# static files top-level directory

STATIC_FILES_DIRECTORY=static/

### The log levels are:
###
### Related to the business purposes of the application.  That is,
### the very highest-level, perhaps least-common logging messages.
### AUDIT
###
### Information useful for debugging.
### DEBUG
###
###
### Represents an error that occurs in a separate thread, so
### that we are not able to catch it bubbling up
### ASYNC_ERROR
###
###
### Information marked as trace is pretty much entered for
### the same reason as DEBUG - i.e. so we can see important
### information about the running state of the program. The
### only difference is that trace information is very voluminous.
### That is, there's tons of it, and it could make it harder
### to find the important information amongst a lot of noise.
### For that reason, TRACE is usually turned off.
### TRACE
###
### list them here, separated by commas
#LOG_LEVELS=DEBUG,TRACE,ASYNC_ERROR,AUDIT

LOG_LEVELS=DEBUG,ASYNC_ERROR,AUDIT


### --------------------------------------------------------------------
### --------------------------------------------------------------------
###                 Advanced configuration section
### following are more advanced configurations.  Enjoy, but be careful.
### --------------------------------------------------------------------
### --------------------------------------------------------------------


### information needed for the TLS certs
#KEYSTORE_PATH=
#KEYSTORE_PASSWORD=


### This property is to switch between using OS-level threads or
### the more-recent virtual threads feature in Java (see https://openjdk.org/jeps/425)

USE_VIRTUAL=true


### This property will cause the insecure endpoint to serve solely as a
### redirector to the secure endpoint.

REDIRECT_TO_SECURE=false


### Length of time, in seconds, for static files to be cached,
### per the provisions of the Cache-Control header, e.g.
###
###   "Cache-Control: max-age=" + STATIC_FILE_CACHE_TIME
###
### 86400 seconds is 24 hours.

STATIC_FILE_CACHE_TIME=86400


### TheBrig (TheBrig.java) manages a collection of identifiers
### for attackers of our system.  Disabling it here will cause it
### to abdicate its job - mainly for testing purposes - probably
### performance testing.
IS_THE_BRIG_ENABLED=true

### This property lets the user add mappings between file suffixes
### and mime types.  For example, "png" to "image/png" or whatever.
### See https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types
###
### Try to follow the syntax here - be careful - the syntax is fragile. It
### goes like this: key,value,key,value,... but a backslash at the end of
### a line lets us break into multiple lines
EXTRA_MIME_MAPPINGS=\
png,image/png,\
wav,audio/wav,\
woff2,font/woff2,\
ico,image/png,\
svg,image/svg+xml


### -------------------------------------------------------------------------------
### -------------------------------------------------------------------------------
###                 Super advanced configuration section
###    The following are settings that really probably shouldn't be messed with.
### -------------------------------------------------------------------------------
### -------------------------------------------------------------------------------


### These are error messages that arrive to the server code
### when an unusual request arrives, potentially signifying an attack.
### Do note that several of these are likely to show up if you
### are running testing tools against the app.
### also, understand that while our code may interpret
### a request as an attack, nothing else will happen unless TheBrig
### is enabled, in which case the offender will be added to a list
### and denied connection.
SUSPICIOUS_ERRORS= \
Insufficient buffer remaining for AEAD cipher fragment,\
The client supported protocol versions,\
no cipher suites in common,\
Client requested protocol TLSv1.1 is not enabled or supported in server context,\
Received fatal alert\: unsupported_certificate,\
SSLv2Hello is not enabled,\
The ClientHello.legacy_version field is not TLS 1.2,\
Client requested protocol SSLv3 is not enabled or supported in server context,\
Received fatal alert\: bad_certificate\


### Similar to the property "suspiciousErrors", these endpoints
### are often associated with attackers, and will immediately
### result in being deemed as such.
SUSPICIOUS_PATHS = \
.env,\
.git/config,\
.svn/entries,\
/MyAdmin/scripts/setup.php,\
/myadmin/scripts/setup.php,\
/news/wp-includes/wlwmanifest.xml,\
/phpMyAdmin/scripts/setup.php,\
/phpmyadmin/scripts/setup.php,\
/pma/scripts/setup.php,\
/site/wp-includes/wlwmanifest.xml,\
/sito/wp-includes/wlwmanifest.xml,\
/web/wp-includes/wlwmanifest.xml,\
/website/wp-includes/wlwmanifest.xml,\
/wordpress/wp-includes/wlwmanifest.xml,\
/wp-includes/wlwmanifest.xml,\
/wp/wp-includes/wlwmanifest.xml,\
/wp1/wp-includes/wlwmanifest.xml,\
/wp2/wp-includes/wlwmanifest.xml,\
/xmlrpc.php,\
Dockerrun.aws.json,\
MyAdmin/index.php,\
PMA/index.php,\
Public/home/js/check.js,\
SQLiteManager/,\
Telerik.Web.UI.WebResource.axd,\
__phpmyadmin/index.php,\
_ignition/health-check/,\
_phpMyAdmin/index.php,\
_phpmyadmin/index.php,\
_phpmyadmin_/index.php,\
_profiler/phpinfo,\
ab2g,\
ab2h,\
actuator/gateway/routes,\
config.json,\
database/index.php,\
database/index.php,\
db/db-admin/index.php,\
db/dbadmin/index.php,\
db/dbadmin/index.php,\
db/dbweb/index.php,\
db/index.php,\
db/phpMyAdmin-3/index.php,\
db/phpMyAdmin-4/index.php,\
db/phpMyAdmin-5/index.php,\
db/phpMyAdmin/index.php,\
db/phpMyAdmin3/index.php,\
db/phpmyadmin/index.php,\
db/phpmyadmin3/index.php,\
db/phpmyadmin4/index.php,\
db/phpmyadmin5/index.php,\
db/webadmin/index.php,\
db/webdb/index.php,\
db/websql/index.php,\
db/websql/index.php,\
dbadmin/index.php,\
debug/default/view,\
dns-query,\
download/file.ext,\
druid/index.html,\
geoserver/web/,\
info.php,\
loginuser%27,\
mgmt/shared/authn/login,\
mysql-admin/index.php,\
mysql/admin/index.php,\
mysql/db/index.php,\
mysql/dbadmin/index.php,\
mysql/index.php,\
mysql/mysqlmanager/index.php,\
mysql/pMA/index.php,\
mysql/pma/index.php,\
mysql/web/index.php,\
mysqladmin/index.php,\
mysqlmanager/index.php,\
nation.php,\
new/login,\
news.php,\
nice%20ports%2C/Tri%6Eity.txt%2ebak,\
nkumbxnx.php,\
nmaplowercheck1692002512,\
owa/auth.owa,\
owa/auth/logon.aspx,\
owa/auth/logon.aspx,\
owa/auth/x.js,\
panel/evlf/vagusrat,\
php-my-admin/index.php,\
php-myadmin/index.php,\
phpMyAdmin-3/index.php,\
phpMyAdmin-4.9.7/index.php,\
phpMyAdmin-4/index.php,\
phpMyAdmin-5.1.0/index.php,\
phpMyAdmin-5.1.1/index.php,\
phpMyAdmin-5.1.2/index.php,\
phpMyAdmin-5.1.3/index.php,\
phpMyAdmin-5.2.0-all-languages/index.php,\
phpMyAdmin-5.2.0/index.php,\
phpMyAdmin-5.3.0-all-languages/index.php,\
phpMyAdmin-5.3.0/index.php,\
phpMyAdmin-5/index.php,\
phpMyAdmin-latest-all-languages/index.php,\
phpMyAdmin-latest-english/index.php,\
phpMyAdmin/index.php,\
phpMyAdmin1/index.php,\
phpMyAdmin2/index.php,\
phpMyAdmin3/index.php,\
phpMyAdmin4/index.php,\
phpMyAdmin5.1/index.php,\
phpMyAdmin5.2/index.php,\
phpMyAdmin5/index.php,\
phpMyAdmin_/index.php,\
phpMyadmin/index.php,\
phpinfo.php,\
phpmy-admin/index.php,\
phpmy/index.php,\
phpmyAdmin/index.php,\
phpmyadmin/index.php,\
phpmyadmin2/index.php,\
phpmyadmin2011/index.php,\
phpmyadmin2012/index.php,\
phpmyadmin2013/index.php,\
phpmyadmin2014/index.php,\
phpmyadmin2015/index.php,\
phpmyadmin2016/index.php,\
phpmyadmin2017/index.php,\
phpmyadmin2018/index.php,\
phpmyadmin2019/index.php,\
phpmyadmin2021/index.php,\
phpmyadmin2022/index.php,\
phpmyadmin4/index.php,\
phpmyadmin5/index.php,\
phpmyadmin_/index.php, \
phpmyadmin_/index.php,\
phppma/index.php,\
portal/redlion,\
program/index.php,\
public/_ignition/health-check/,\
remote/fgt_lang,\
server-status,\
sitemap.xml,\
sitemap.xml.gz,\
solr/,\
solr/admin/info/system,\
sql/myadmin/index.php,\
sql/phpMyAdmin/index.php,\
sql/phpMyAdmin2/index.php,\
sql/phpmanager/index.php,\
sql/phpmy-admin/index.php,\
sql/phpmyadmin3/index.php,\
sql/phpmyadmin5/index.php,\
sql/sql-admin/index.php,\
sql/sql/index.php,\
sql/sqladmin/index.php,\
sql/sqlweb/index.php,\
sql/webadmin/index.php,\
sql/webdb/index.php,\
sql/websql/index.php,\
sslvpnLogin.html,\
static/admin/javascript/hetong.js,\
static/historypage.js,\
style.php,\
sugar_version.json,\
systembc/password.php,\
t4,\
telescope/requests,\
telescope/requests,\
tmui/login.jsp,\
vendor/phpunit/phpunit/src/Util/PHP/eval-stdin.php,\
version,\
webfig/,\
webtools/control/main,\
wordpress/wp-admin/setup-config.php,\
wp-admin/setup-config.php,\
wp-config.php-backup,\
wp-content/plugins/forminator/readme.txt,\
wp-content/plugins/portable-phpmyadmin/wp-pma-mod/index.php,\
wp-content/themes/seotheme/db.php,\
wp-includes/wlwmanifest.xml,\
wp-includes/wlwmanifest.xml,\
wp-json/wp/v2/users,\
wp-login.ph,\
wp-login.php,\
wp-plain.php,\

### Mainly modified for testing purposes.  Be careful.  See minum.Constants

#MAX_READ_SIZE_BYTES=
#MAX_READ_LINE_SIZE_BYTES=
#MAX_QUERY_STRING_KEYS_COUNT=
#MOST_COOKIES_WELL_LOOK_THROUGH=
#MAX_HEADERS_COUNT=
#MAX_TOKENIZER_PARTITIONS=
#KEEP_ALIVE_TIMEOUT_SECONDS=
SOCKET_TIMEOUT_MILLIS=30000
#VULN_SEEKING_JAIL_DURATION=10000
#USE_CACHE_FOR_STATIC_FILES=
