<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help | Inmra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/general/main.css" >
    <link rel="stylesheet" href="/general/help.css" >
    <meta name="filename" content="adminhelp.html">
</head>
<body>
    {{ navigation_header }}
    <div id="help-container">
        <h1>Help</h1>
        <p>Help for administrators goes here</p>
    </div>

</body>
</html>
