    <ul id="auth_header">
        <li>
            <a href="editperson">Create New Person</a>
        </li>
        <li>
            <a href="editpersons">List all Persons</a>
        </li>
        {{edit_this_person}}
        <li>
            <a href="photos">All Photos</a>
        </li>
        <li>
            <a href="admin">Administration page</a>
        </li>
        <li>
            <a href="register">Register user</a>
        </li>
        <li>
            <a href="resetpassword">Reset password</a>
        </li>

        <li>
            <form action="logout" method="POST">
                <button>Logout</button>
            </form>
        </li>
    </ul>