<link rel="stylesheet" href="/auth/auth_header.css" >
<script src="/general/auth_header.js"></script>
<div class="mobile-nav">

    <div class="menu-btn" id="menuToggle">
        <div></div>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="responsive-menu">

        <ul id="auth_header">
            <li>
                <a href="/editperson">Create New Person</a>
            </li>
            <li>
                <a href="/editpersons">List all Persons</a>
            </li>
            <li>
                <a href="/admin">Administration page</a>
            </li>
            <li>
                <a href="/register">Register user</a>
            </li>
            <li>
                <a href="/resetpassword">Reset password</a>
            </li>

            <li>
                <form action="/logout" method="POST">
                    <button>Logout</button>
                </form>
            </li>
        </ul>
    </div>
    {{edit_this_person}}
</div>
<div class="overlay"></div>
